html, body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure full height */
}

.header {
    color: white;
}

.navbar {
    background-color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 10px;
    z-index: 2; /* Keep navbar on top */
    position: fixed; /* Fix navbar at the top */
    width: 100%; /* Ensure navbar spans full width */
    top: 0;
    left: 0;
    right: 0;
    padding: 15px; /* Add some padding for better spacing */
}

.navbar-brand.header {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-brand.header:hover {
    color: crimson; /* Changes text color to crimson on hover */
}

.custom-heading {
    background-color: black; /* Black background */
    color: white;
    font-family: 'Roboto Slab', serif; /* Roboto Slab font */
    margin: 0; /* Remove default margin */
    padding: 100px 50px 20px 50px; /* Adjust padding for better positioning */
    text-align: center;
    color: transparent;
    background-image: linear-gradient(45deg, white, lightgray);
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0 0 20px white, 0 0 40px white, 0 0 60px white;
    height: calc(100vh - 80px); /* Adjust height to fit the viewport minus the navbar */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

.text {
    font-family: 'Roboto Slab', serif; /* Match heading font */
    text-align: center;
    padding-top: 30px;
}

.display-5 {
    padding: 0;
    margin-top: 30px;
}

.quote-btn {
    text-align: center;
    margin-top: 0; /* Position the button closer to the heading */
}

.quote-btn button {
    background: linear-gradient(45deg, red, crimson); /* Matches heading gradient */
    color: white; /* Text color */
    border: none; /* Removes border */
    padding: 10px 20px; /* Adjust padding for size */
    font-size: 16px; /* Adjust font size */
    font-family: 'Roboto Slab', serif; /* Match heading font */
    border-radius: 5px; /* Optional for rounded corners */
    cursor: pointer; /* Changes cursor to pointer */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    text-shadow: 0 0 20px red, 0 0 40px crimson, 0 0 60px crimson; /* Glow effect */
    box-shadow: 0 0 30px red, 0 0 50px crimson, 0 0 70px crimson; /* Intensifies glow on hover */
    transform: scale(1.1); /* Slightly enlarges on hover */
}

.blockquote {
    width: 80%;
    margin: auto;
}

@media (max-width: 767px) {
    .blockquote {
        text-align: left; /* Left align on mobile */
    }
}

.blockquote.custom-heading {
    margin-bottom: 5px !important; /* Force a smaller bottom margin */
    padding-bottom: 0 !important; /* Remove any bottom padding */
}

#projects.display-5.custom-heading {
    margin-top: 0 !important; /* Remove top margin */
    padding-top: 20px; /* Add minimal top padding if needed */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%; /* Ensure full width */
    padding: 0; /* Remove default padding */
    margin-top: 0; /* Remove extra margin-top */
}

.row {
    justify-content: center; /* Center the columns */
    width: 100%; /* Ensure full width */
    margin: 0; /* Remove default margins */
}

.col-md-4 {
    display: flex;
    justify-content: center; /* Center the card */
    align-items: center;
    padding: 0; /* Remove default padding */
}

.card {
    margin: 0 auto; /* Center the card */
    color: white;
    background-color: black;
    font-family: 'Roboto Slab', serif; /* Match heading font */
}

.card-text {
    text-align: left;
}

.card-title {
    text-decoration: underline;
}

.carousel-item img {
    border: 1px solid white;
    border-radius: 5px;
}

.carousel-control-prev, 
.carousel-control-next {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    top: 55%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 5px;
}

.carousel-control-next {
    right: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 15px;
    height: 20px;
}
